@mixin flexColumn-centrato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin flexRow-centrato {
  display: flex;
  align-items: center;
  justify-content: center;
}
